<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="keywords" content="Java面面,java面试题,java笔试题,j2ee面试题，设计模式,百度面试题,阿里巴巴面试题,腾讯面试题,华为面试题，程序员面试题,Android面试题,华为面试题,中兴面试题,阿里巴巴面试题,IBM面试题,微软面试题,淘宝面试题,中软面试题,Google面试题,新浪面试题,东软面试题,联想面试题,惠普面试题,Cisco面试题,支付宝面试题,大唐电信面试题,埃森哲面试题,金山面试题,神州数码面试题,用友软件面试题,奇虎面试题,中国移动面试题,文思创新面试题,InfosysUC面试题,盛大面试题,新蛋面试题,迅雷面试题,Oracle (甲骨文)面试题,搜狐面试题,北电网面试题,苏宁面试题,H3C面试题,趋势科技面试题,中国联通面试题,SAP面试题,创新工场面试题,中国人民银行面试题,中国电信面试题,花旗软件面试题,中国银行面试题,海辉科面试题,搜狗面试题,CSDN面试题,博彦科技面试题,Yahoo面试题,凡客诚品面试题" />
<meta name="description" content="Java面面，JavaMM，专注于Java,android方面的面试笔试题，也会涉及操作系统，数据库，英语，管理,nosql。有浅有深，有难有易，有算法题，有智力题，有基础题,有设计模式，有uml，有helloworld。码农之福音 百度面试题,阿里巴巴面试题,腾讯面试题,华为面试题，程序员面试题,Android面试题,华为面试题,中兴面试题,阿里巴巴面试题,IBM面试题,微软面试题,淘宝面试题,中软面试题,Google面试题,新浪面试题,东软面试题,联想面试题,惠普面试题,Cisco面试题,支付宝面试题,大唐电信面试题,埃森哲面试题,金山面试题,神州数码面试题,用友软件面试题,奇虎面试题,中国移动面试题,文思创新面试题,InfosysUC面试题,盛大面试题,新蛋面试题,迅雷面试题,Oracle (甲骨文)面试题,搜狐面试题,北电网面试题,苏宁面试题,H3C面试题,趋势科技面试题,中国联通面试题,SAP面试题,创新工场面试题,中国人民银行面试题,中国电信面试题,花旗软件面试题,中国银行面试题,海辉科面试题,搜狗面试题,CSDN面试题,博彦科技面试题,Yahoo面试题,凡客诚品面试题" />
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.ico'}">
        <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/jquery.cookie.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
	<div style="position:absolute;z-index:101;top:30px;left:300px;">
        #{doLayout /}
	</div>

	<!-- adsense 
	<a href="http://click.union.jd.com/JdClick/?unionId=18839&t=1&to=http://www.jd.com/" target="_blank"><img src="@{'/public/images/bg.jpg'}" border=0 style="position:absolute;z-index:100;width:100%;height:100%"></a>
-->
	<!-- tongji -->
	<div style="display:none">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F0ce8c563865f0ec626494efa8a5839f8' type='text/javascript'%3E%3C/script%3E"));
</script>
	</div>

<!-- beian  -->
<div style="position:absolute; z-index:101; bottom:20px;right:10px;">
<a href=http://www.miibeian.gov.cn style="color:#cccccc;" target=_blank>京ICP备09094608号-3</a>
</div>
    </body>
</html>
